.issueForm{
    background-color: #FDFFFC;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 1em;
    padding: 1rem;
    border: 3px solid #C1292E;
    border-radius: 1rem;
    color: #161925;
    box-shadow: 3px 3px 3px 3px #161925;
}

.formLabel{
    font-size: .75rem;
    font-weight: bold;
    /* margin: 0.5rem; */
}
.formComponent {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.issueSubmitBtn{
    margin-top: 0.5rem;
    /* padding: 0.5rem; */
    border-radius: 0.5rem;
    background-color: #F1D302;
    color: #161925;
    border: 2px solid #C1292E;
    box-shadow: 2px 1px 3px #161925;
}

.closeBtn{
    /* margin-top: 0.5rem; */
    /* padding: 0.5rem; */
    border-radius: 0.5rem;
    background-color: #F1D302;
    color: #161925;
    border: 2px solid #161925;
    box-shadow: 2px 1px 3px #161925;
}

